.button-base {
  display: block;
  color: white;
  font-size: 18px;
  padding: 6px 0;
  text-align: center;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background: #7ab6d3;
}
.button-base:hover {
  text-decoration: none;
}
.center {
  margin: 0px auto;
}
* {
  background: rgba(0, 0, 0, 0.1);
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
section {
  padding: 40px 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: normal;
  margin-bottom: 1em;
}
h2 {
  text-align: center;
  font-size: 44px;
  font-weight: 300;
}
.videoWrapper {
  position: relative;
  padding-bottom: 49%;
  /* 16:9 */

  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.triangle {
  background-image: url("../img/triangles.png"), url("../img/triangles-down.png");
  background-repeat: repeat-x;
  background-position: bottom, top;
  background-color: #cadeea;
}
.triangle:first-child {
  background-image: url("../img/triangles.png");
}
.circle {
  text-align: center;
  display: block;
  color: white;
  width: 120px;
  height: 120px;
  margin: 0px auto;
  margin-bottom: 50px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.intro-copy {
  text-align: center;
  font-size: 1.2em;
}
.links a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 6px 0;
  text-align: center;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background: #7ab6d3;
  background-color: #f3566d;
  margin: 0px auto;
  width: 50%;
  margin-top: 30px;
}
.links a:hover {
  text-decoration: none;
}
.links a:hover {
  background: #f0304c;
  text-decoration: none;
}
.links a span {
  margin-left: 5px;
}
#intro .logo {
  text-align: center;
}
#intro .logo h1 {
  margin: 0px auto;
  max-width: 300px;
  height: 60px;
  background: url("../img/wick-video-logo.png");
  text-indent: -9999px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
#intro .vimeo_embed {
  display: block;
  margin: 0px auto;
}
#intro .vimeo_embed iframe {
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#intro .buttons {
  margin: 30px 0px;
}
#intro .buttons a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 6px 0;
  text-align: center;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background: #7ab6d3;
  float: left;
  width: 49%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
#intro .buttons a:hover {
  text-decoration: none;
}
#intro .buttons a span {
  margin-left: 5px;
}
#intro .buttons a:last-child {
  margin-left: 2%;
}
#intro .buttons a:hover {
  background: #5ba5c9;
  text-decoration: none;
}
#about {
  background: white;
}
#about h2 {
  color: #ef2a4b;
}
#about h3 {
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 22px;
}
#about .teamNav ul {
  margin: 0px;
  text-align: center;
  padding: 0;
}
#about .teamNav ul li {
  list-style-type: none;
  text-align: center;
  width: 33%;
  float: left;
}
#about .teamNav ul li img {
  opacity: 0.5;
}
#about .teamNav .ui-tabs-active img {
  opacity: 1;
}
#about .teamBio {
  margin-top: 1em;
}
#about .teamBio span {
  font-style: italic;
}
#about .flame-icon {
  text-align: center;
  display: block;
  color: white;
  width: 120px;
  height: 120px;
  margin: 0px auto;
  margin-bottom: 50px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ef2a4b;
  font-size: 70px;
}
#process h2 {
  color: #458bb1;
}
#process .process-copy {
  height: 9em;
  text-align: center;
}
#process .process-copy p {
  font-size: 1em;
}
#process .process-copy h3 {
  font-weight: 700;
  margin-bottom: 0.5em;
}
#process .process-icon {
  text-align: center;
  display: block;
  color: white;
  width: 120px;
  height: 120px;
  margin: 0px auto;
  margin-bottom: 50px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #458bb1;
  font-size: 70px;
}
#process .circle-nav ul {
  margin-left: 0;
  display: block;
}
#process .circle-nav li {
  width: 16.6%;
  text-align: center;
  float: left;
  outline: none;
  list-style-type: none;
  margin: 0;
}
#process .circle-nav a {
  background: #899199;
  text-align: center;
  display: block;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  outline: none;
  line-height: 2em;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#process .circle-nav a:hover {
  text-decoration: none;
  background-color: #484549;
}
#process .circle-nav .ui-state-active a {
  text-decoration: none;
  outline: none;
  background-color: #484549;
}
#work h2 {
  color: #ef2a4b;
}
#work .play-icon {
  text-align: center;
  display: block;
  color: white;
  width: 120px;
  height: 120px;
  margin: 0px auto;
  margin-bottom: 50px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ef2a4b;
  font-size: 48px;
  line-height: 2.4em;
}
#work .arrows span {
  text-align: center;
  margin-top: 100%;
  font-size: 80px;
  display: block;
}
#work .arrows a {
  color: #cadeea;
}
#work .arrows a:hover {
  text-decoration: none;
  color: #7ab6d3;
}
@media (min-width: 30em) {
  * {
    background: rgba(255, 0, 0, 0.1);
  }
  .videoWrapper {
    padding-bottom: 54%;
  }
}
@media (min-width: 50em) {
  * {
    background: rgba(255, 255, 0, 0.1);
  }
  #intro .vimeo_embed {
    display: block;
    max-width: 65%;
  }
  #process .circle-nav a {
    background: #899199;
    text-align: center;
    display: block;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 2em;
    outline: none;
    line-height: 2.8em;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
